@model System.Collections.Generic.ICollection<PgsTwitter.Entities.Message>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table>
    <tr>
        <th>
            Username
        </th>
        <th>
            Posted On
        </th>
        <th>
            Text
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Receiver)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostedOn )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text )
        </td>
    </tr>
}

</table>
