@model PgsTwitter.Models.Login.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

Welcome to our page. Please login:

@using(Html.BeginForm())
{
    @Html.EditorFor(m=>m.Name)

    <input type="submit" value="Login" />
}
