@model System.Collections.Generic.IEnumerable<PgsTwitter.Models.Tag.TagModel>

@{
    ViewBag.Title = "Index";
}

<h2>Tags</h2>

    <ul>
        @{
            foreach (var tag in Model)
            {
                <li>
                    @Html.ActionLink(tag.Name, "Tag", new {id = tag.Name}, null) : @tag.Count
                </li>
            }
        }

    </ul>